<div class="table100-head limiter container-table100 wrap-table100 table100 ver1 m-b-110" style="padding-top: 0px !important">
  <table class="table table-hover">
    <thead>
      <tr class="row100 head">
        <th class="cell100 column1" scope="col">#</th>
        <th class="cell100 column2" scope="col">Name</th>
        <th class="cell100 column3" scope="col">Email</th>
        <th class="cell100 column4" scope="col">Create At</th>
        <th class="cell100 column5" scope="col">Modify</th>
      </tr>
    </thead>
    <tbody>
      <tr class="row100 body" *ngFor="let item of apiUrl">
        <td class="cell100 column1">{{item.id}}</td>
        <td class="cell100 column2">{{item.name}}</td>
        <td class="cell100 column3">{{item.email}}</td>
        <td class="cell100 column4">{{item.createdAt | date}}</td>
        <td class="cell100 column5">
          <a routerLink="/user/create">Edit</a>&nbsp;&nbsp;&nbsp;
          <a href="#">Delete</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
